<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS</title>
</head>

<body>
    <div id="app">
        <!-- 
           * v-for in objects 
           * item , key , index (order is important)
        -->
        <div v-for="item in users" v-text="item">
        </div>

        <hr>

        <div v-for="(item , key , index) in users">
            # {{index+1}} {{key}}:{{item}}
        </div>

    </div>



    <!-- LOCAL FILE -->
    <script src="vue.js"></script>

    <!-- main.js -->
    <script src="main.js"></script>
</body>

</html>