<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>A First App</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <div id="app">
    <div>
      <label for="goal">Goal</label>
      <input type="text" id="goal" v-model="enteredValue" />
      <button v-on:click="addtask" id="btn">Add Goal</button>
    </div>
    <ul id="task-list">
      <li v-for="(goal,idx) in goals"> {{idx+1}} - {{goal}} <button @click='delTask(idx)' >DELETE</button> </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.5.43/dist/vue.global.js" integrity="sha384-3fGr3FIdIO2AhcaRn/kxgkleHx8iIpLpre5rOjhEUGsoNBcYOlt5mPX0lEA/4qGC" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>